body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.5;
}

/*Header*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
}

.logo-accent {
    color: #4D5AE5;
}

.nav-list,
.address-list {
    list-style: none;
}

.nav-link {
    color: #2E2F42;
    font-weight: 500;
}

.nav-link,
.logo,
.mail,
.tel {
  text-decoration: none;
}

.mail, 
.tel {
    font-weight: 400;
    font-style: normal;
    color: #434455;
}

/*Main*/
.section-main {
    background-color: #2E2F42;
}

.title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}

.button {
    background-color: #4D5AE5;
    color: #fff;
}

/*Our features*/
.features-title,
.team-name,
.title-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}

.features-text,
.team-position,
.portfolio-text,
.footer-text {
    font-weight: 400;
}

/*Our Team*/
.section-our-team {
    background-color: #F4F4FD;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.team-name,
.team-position {
    text-align: center;
}

/*Footer*/
.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
}

.footer .logo {
    color: #F4F4FD;
}