body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #fff;
    line-height: 1.5;
}

/*Header*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    color: #2E2F42;
    text-transform: uppercase;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.logo-accent {
    color: #4D5AE5;
}

.address, 
.address-list,
.features-list,
.team-list,
.portfolio-list {
    font-style: normal;
}

.nav-list,
.address-list,
.features-list,
.team-list,
.portfolio-list {
    list-style: none;
}
.nav-list,
.address-list {
    font-size: 16px;
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: #404BBF;
}

.nav-link {
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link,
.logo,
.mail,
.tel {
  text-decoration: none;
}

.mail, 
.tel {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*Main*/
.section-main {
    background-color: #2E2F42;
}

.title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    line-height: 1.071;
    letter-spacing: 0.02em;
}

.button {
    background-color: #4D5AE5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/*Our features*/
.features-title,
.team-name,
.title-portfolio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text,
.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*Our Team*/
.section-our-team {
    background-color: #F4F4FD;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.team-list-item {
    background-color: #fff;
}

.team-name {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.2;
}
.team-position {
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}

/*Footer*/
.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
}

.footer .logo {
    color: #F4F4FD;
}