body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    background-color: #E7E9FC;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}